<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <title>Title</title>
</head>
<body>
<div id="loginForm" style="width: 200px;height: 200px;background-color: aqua;margin: 0 auto">
    <div id="logo"></div>
    <form method="post" action="/">
        <input id="username" name="username" type="text">
        <input id="password" name="password" type="password">
        <input id="submit" name="submit" type="submit">
    </form>
</div>
</body>
</html>